body {
    padding: 20px;
}

h1 {
    border-bottom: 1px solid gray;
    margin-top: 0;
}

div.card-group {

}

* {
    box-sizing: border-box;
}

.card {
    float: left;
}

nav {
    position: fixed !important;
    top: 0px;
    left: 0px;
    width: 100%;
    border-radius: 0px !important;
    z-index: 999999 !important;
}

.border-right {
    border-right: 1px solid white;
    padding-right: 16px;
}

.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="span"] {
    margin: 0 !important;
}

.container-fluid.content {
    padding-top: 5% !important;

.card-link.danger.delete {
    float: right !important;
}

.text-muted.ng-binding {
    float: right !important;
}

.card {
    padding: 16px;
    border-radius: 5px;
    border: 1px solid;
}

.card img {
    max-width: 100%;
}

}

.container-fluid.details button {
    float: right;
    margin: 16px;
}

.container-fluid.details .input-group {
    margin: 16px;
}
