<div class="container-fluid details">
    <div class="page-header">
        <h1>Title: {{$ctrl.song.title}} <small> Id : {{$ctrl.song.id}}</small></h1>
    </div>

    <div class="row">
        <div class="card card-inverse col-3 col-sm-6 col-md-4 col-lg-3">
            <img class="card-img" src="{{$ctrl.song.logoUrl}}" alt="Image for : {{$ctrl.song.title}}">
        </div>
        <div class="card card-inverse col-9 col-sm-6 col-md-8 col-lg-9">

            <div class="input-group">
                <span class="input-group-addon">URL</span>
                <input type="text" class="form-control" id="imageUrl" placeholder="Image URL"
                       ng-model="$ctrl.song.logoUrl" aria-describedby="basic-addon1">
            </div>

            <div class="input-group">
                <span class="input-group-addon">Title</span>
                <input type="text" class="form-control" id="title" ng-model="$ctrl.song.title"
                       aria-describedby="basic-addon1">
            </div>

            <div class="input-group">
                <span class="input-group-addon">Artist</span>
                <input type="text" class="form-control" id="artist" ng-model="$ctrl.song.artist"
                       aria-describedby="basic-addon1">
            </div>

            <div class="input-group">
                <span class="input-group-addon">Country</span>
                <input type="text" class="form-control" id="country" ng-model="$ctrl.song.country"
                       aria-describedby="basic-addon1">
            </div>

            <div class="input-group">
                <span class="input-group-addon">Company</span>
                <input type="text" class="form-control" id="company" ng-model="$ctrl.song.company"
                       aria-describedby="basic-addon1">
            </div>

            <div class="input-group">
                <span class="input-group-addon">Price</span>
                <input type="number" class="form-control" id="price" ng-model="$ctrl.song.price" step="0.1"
                       aria-describedby="basic-addon1">
            </div>

            <div class="input-group">
                <span class="input-group-addon">Year</span>
                <input type="number" class="form-control" id="year" ng-model="$ctrl.song.year"
                       aria-describedby="basic-addon1">
            </div>
        </div>
    </div>

    <div class="row">
        <button type="button" ng-click="goBack()" class="btn left">Back</button>
        <button type="button" ng-click="click($ctrl.song)" class="btn btn-primary">{{$ctrl.buttonTitle}}</button>
        <button type="button" ng-click="reset()" class="btn">Reset</button>
    </div>

</div>

